@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Merriweather:wght@300;400;900&family=Poppins:wght@300;400;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,600;1,700;1,900&display=swap');


/*=============== VARIABLES CSS ===============*/

:root{
  --hue-color:206;
  --shadow: rgba(39, 37, 37, 0.705) 0px 3px 16px, rgba(0, 0, 0, 0.137) 0px 6px 46px, rgba(0, 0, 0, 0.13) 0px 4px 15px;
  --color-bg:hsl(206, 4%, 6%);
  --color-black:hsl(206, 4%, 3%);
  --color-text:#8a776edc;
  --colore-title:#eee;
  --text-gradient: linear-gradient(hsl(var(--hue-color), 4%, 64%), hsl(var(--hue-color), 4%, 38%));
  --box-shadow:1px 1px 6px -1px #000000;
  --box-shadow-2:inset 0px 0px 20px 0px rgba(0, 0, 0, 0.233);
}

 *{   
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
  font-size: 62.5%; 
}
body{
  width: 100%;
  background:var(--color-bg);
  font-family: 'Raleway', sans-serif;
}
body.activate{
  --color-bg:#f7f7f7;
  --color-black:hsl(206, 4%, 4%);
  --color-text:#36312fe8;
  --colore-title:rgb(5, 5, 12);
  --box-shadow: 1px 1px 6px -1px #a09797;
  --box-shadow-2:inset 0px 0px 1px 10px rgba(230, 230, 230, 0.356);
}

ul{
  list-style: none;
}
img{
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  filter: contrast(.8);
}
a{
  text-decoration: none;
}
section{
  padding: 2rem 8%;
}
p {
  font-family: 'Poppis', sans-serif;
  margin-top: 1.8rem;
 max-width: 60rem;
 font-size: 1.5rem;
 font-weight: 400;
 line-height: 1.7;
 color: var(--color-text);
}

/* classe affichage des élements au scrool */

.reavel{
  opacity: 0;
  transform: translateY(10rem);
}
.reavel-visible{
  opacity: 1;
  transform: translateY(0);
  transition: .5s cubic-bezier(.51,.02,.16,.98);
}
/*=============== HEADER ===============*/
header{
  position: fixed;
  width: 100%;
  height: 7rem;
  display: flex;
  background: #020207;
  justify-content:space-between;
  align-items: center;
  padding: 2rem 9%;
  backdrop-filter: blur(13rem);
  z-index: 1000000000;
}
.moon{
  font-size: 2.5rem;
  cursor: pointer;
  color: wheat;
}
.menu-open{
  display: none;
  color: #fff;
  font-size: 4rem;
}
.close{
  display: none;
}
.logo{
  width: 13rem;
  object-fit: cover;
}

h3{
  text-align: center;
  font-family: 'Raleway',sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--colore-title);
  margin-bottom: 10rem;
}


h4{
  font-family: 'Raleway',sans-serif;
  font-size: 3.5rem;
  line-height: 1.7;
  font-weight: 500;
  color: var(--colore-title);
}
.box-nav{
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}
.nav ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4rem;
}

.nav ul li a{
  font-size: 1.5rem;
  font-weight: 600;
  color:#8a776edc;
  text-transform: uppercase;
  position: relative;
  transition: .3s ea;
}
.nav ul li a:hover{
  color: #bb4d16 ;
}
.nav ul li a.active-a{
  color: #bb4d16;
  transition: .3s;
}
.nav ul li .active-a::before{
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -2.7rem;
  background-color: #bb4d16;
  left: 0;
  transition: .3s;
}

/*=============== Home ===============*/
 .home{
  width: 100%;
  height:100vh;
  clip-path: polygon(0 0, 100% 0, 100% 86%, 65% 88%, 50% 100%, 35% 88%, 0 86%);
 padding: 0;
 overflow: hidden;
 margin-bottom: 25rem;
}


.home-tafifs{
  padding: 0;
  width: 100%;
  padding-top: 5rem;
  height: 30rem;
}

.tarif{
  height: 20rem;
  box-shadow:var(--box-shadow);
  padding: 9rem 0;
}

.tarifs .container{
  align-items: center;
  justify-content: center;
  gap: 6rem;
}
.tarifs{
  margin-bottom: 5rem;
  height: 100%;
  font-family:'Raleway',Helvetica,Arial,Lucida,sans-serif;
}
.title-tarif{
  font-size: 2.5rem;
 font-weight: 500;
 text-transform: uppercase;
 /* background:#bb4d16; */
 margin: 1.5rem 0;
}

.box-tarif{
  flex:  0 0 30rem;
  text-align: center;
  padding: 4rem 6%;
  box-shadow: var(--box-shadow);
  transition: .3s;
}
.box-tarif:hover{
 transform: translateY(-1.5rem);
}
.box-tarif .box-img{
  /* height: 25rem; */
  padding:4rem;
}
.box-tarif h3{
  font-size:7rem;
  font-weight: 500;
  text-transform: uppercase;
  font-family:'Poppins',Helvetica,Arial,Lucida,sans-serif;
  position: relative;
  margin: 1.5rem 0;
}

.mini{
  font-size: 1.5rem;
  font-weight: 200;
}

.box-tarif h3::before{
  content: '\0020AC';
  position: absolute;
  font-size: 2rem;
  font-weight: 100;
  top: 1.3rem;
  left: 3rem;
}
.box-tarif .tarif-text p{
  font-size:1.5rem;
  font-weight: bold;
  color: var(--color-text);
}
.box-tarif .btn-t{
 margin-top: 3rem;
}
.box-tarif .btn{
  background: rgb(238, 117, 31);
  border: none;
  color: #eee;
}
.box-tarif .btn:hover{
  background:#bb4d16;
  border: none;
}
 .home .box{
  position: relative;
  width: 100%;
  height :100%;
} 

.home .box .content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
 flex-direction: column;
 justify-content: center;
 opacity: 0;
 align-items: center;
 transition: opacity .5s ease-out;

} 
.home .box .content .content-box{
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .box .content .content-box .btn{
  position: absolute;
  z-index: 5;
  cursor: pointer;
 transform: translateX(-50%);
} 
.btn{  
  font-size: 1.6rem;
  font-weight: 700;
  color: #bb4d16;
  cursor: pointer;
  padding: 1.2rem 3rem;
  border: 1px solid #ebaa8a;
}
.btn:hover {
  color: #fff;
  border: 1px solid #bb4d16;
}

h1{
  text-transform: uppercase;
  font-size: 8.5rem;
  font-weight: 500;
  color:rgb(255, 254, 254);
  text-align: center;
}
 .orange{
  color:chocolate ;
}
.home .content p{
margin-top: 0;

}
.box .arrow{
  font-size: 9.5rem;
  top:50%;
  transform: translateY(-50%);
 cursor: pointer;
}
.box .arrow-left{
  left: 1%;
}
.box .arrow-right{
  right: 1%;
}
.btn-t{
  margin-top: 3rem;

}


.home .box .active{
  opacity: 1;
  
}; 

/*=============== About ===============*/

.about{
  padding-top: 15rem;
  width: 100%;
  height: 100vh;
}
.container{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  position: relative;
}
.about .container .About-img {
 flex: 1 1 30rem;
 height: 100%;
}
.about .container .About-img img:hover{
  transform: scale(1.2);
}

.about .container .About-info {
  flex: 1 0 20rem;
  padding-right:10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
 }
 
 
 /* .about .container .About-info::after{
  content: '';
  width: 20rem;
  height: 20rem;
  background: #bb4d16;
  z-index: -1;
  position: absolute;
  top: -15rem;
  left: -15rem;
 } */

 .about .container .About-img .box{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
   gap: 1.5rem;
   z-index: 100;
  padding: 0 15%;
   
 }
 .about .container .About-img  img{
  width: 100%;
  object-fit: cover;
  border-radius: 30rem;
  transition: .3s;
}
.about .container .About-img  .box-img-1{
  height: 55rem;
}
.about .container .About-img  .box-img-2{
 top: 10%;
 height: 45rem;
 transform: translateY(10%);
}
/*=========== section Nos service===========*/

.sevice-gen{
  margin-top: 15rem;
  margin-bottom: 15rem;
}
 
.sevice-gen .container .box{
  flex: 1 1 20rem;
  padding: 4rem 4rem;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--box-shadow);
  text-align: center;
}

.sevice-gen .container .box .img-serice-gen{
  width: 40%;
  padding-bottom: 4rem ;
  position: relative;
  text-align: center;
}
.Mysvg{
  font-size: 4.5rem;
  color:var(--colore-title);
}
.sevice-gen .container .box .img-serice-gen::before{
  content:'' ;
  width: 5rem;
  height: 2px;
  position: absolute;
  bottom: 4%;
  background: chocolate;
  left: 50%;
  transform: translate(-50%);
}
.sevice-gen .container .box .img-serice-gen img{
  
}
/*=========== section 
 ===========*/

.Studio{
  width: 100%;
  margin-top: 25rem;
  padding: 0;
  height: 100vh;
}

/* .studio-info-1::before{
  content: '';
  width: 80%;
  height: 100%;
  background: #bb4d16;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  clip-path: polygon(70% 50%, 0 0, 0 100%);
 } */
 
.Studio .container .box{
  width: 100%;
  display: grid;
  grid-template-columns: 24% 26% 50%;
}

.Studio .container .box .statut-image {
  width: 100%;
  height: 60rem;
}
.Studio .container .box .statut-image img {
  filter: grayscale(100%);
}
.Studio .container .box .statut-image-2{
  margin-left: 1rem;
}
.Studio .container .box .statut-image-3{
  height: 100%;
 background:linear-gradient(239deg, rgba(15, 15, 16, 0.76) 0%, rgba(15, 15, 16, 0.835) 100%), url('../images/studio-1.JPG');
  background-size: cover; backdrop-filter: grayscale(100%);
  display: flex;
  justify-content: end;
   padding: 5% 0%;
   position: relative;
}
.Studio .container .box .statut-image-3 p{
  margin-top: 6rem;
  width: 82%;
  color: rgba(255, 255, 255, 0.746);
  position: relative;
}
.statut-image-3 p::before{
  content:'' ;
  width: 8rem;
  height: 2px;
  position: absolute;
  top: -5%;
  background: chocolate;
}
.icone{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.fleche{
  flex: 0 0 3rem;
  display: block;
  text-align: center;
 font-size: 3rem;
 padding: 1.5rem 1rem;
 border-radius: 50%;
 box-shadow:1px 1px 6px -1px #000000;
 color: #feb315;
 position: absolute;
 bottom: 4rem;
 right: 16rem;
 background: #020207;
}
.fleche-right{
  right: 8rem;
}
.studio-title {
 padding-left: 32%;
}

 .Studio .container .box-2 .statut-image::before{
  content: '';
  width: 20rem;
  height: 10rem;
  background: #bb4d16;
  position: absolute;
  bottom: -3rem;
  left: -3rem;
  z-index: -1;
} 

/* =========== Section Service =========  */
.service{
  margin-top: 12rem;
}
.service .container{
  flex-direction: column;
  gap: 2rem;
}

.service .container .box-service-title{
text-align: center;
}
.service-info{
  flex: 1 1 50rem;
  padding: 3% 3%;
  box-shadow: var(--box-shadow);
 }
 .service-info-1{
   display: flex;
   height: 40rem;
   flex-direction: column;
   gap: 2rem;
   text-align: center;
   padding-bottom: 6rem;
 }


.service .container .service-info-box{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
}
.service-info-2{
  display: flex;
  align-items: center;
}
.service-info-2{
  padding: 5% 16%;
}




/* =========== Section salle-repetition =========  */

.salle-repetition{
 width: 100%;
 height: 100%;
margin: 25rem 0;
}
.salle-repetition .container{
  width: 100%;
}

.salle-repetition .info-salle{
  flex: 1 1 20rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 4rem;
  /* justify-content: center; */
  gap: 1rem;

}

.salle-img{
  flex: 1 1 40rem;
  height: 60%;
  padding-top: 7%; 
 display: flex;
  gap: 1rem;
  /* background: #fff;  */
}

.salle-img .box-img{
  width: 100%;
  height: 100%;
}
.salle-img .img-1{
  flex: 0 0 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
   justify-content: center;
   gap: 1rem;
}
/* .box-img::after{
  content: '';
  width: 50rem;
  height: 50rem;
  background: #bb4d16;
  z-index: -1;
  position: absolute;
  top: -1rem;
  right: -2rem;
} */





/* =========== section équipements ==========*/
.equipements{
  margin-top: 25rem;
}
.equipement-box-img{
  flex: 1 1 70rem;
}
.equipement-box-img .box-img-eq{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(9,1fr);
  grid-template-rows: repeat(6,8vw);
  position: relative;
  
}
.box-img-eq img{
  cursor: pointer;
}
.box-img-eq img:hover{
  transform: scale(1.2);
  z-index: 10;
  transition: all .1s ease-in-out;
}
.equi__item--1{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 7;
}
.equi__item--2{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}
.equi__item--3{
  grid-column-start: 5;
grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 4;
}
.equi__item--4{
  grid-column-start: 3;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 6;
}
.equi__item--5{
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 6;
  grid-row-end: 7;
}

.box-equipement-info{
  flex: 1 1 28rem;
  text-align: center;
}
.decouvrir{
  display: inline-block;
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  background: linear-gradient(0deg, rgba(176,116,42,1) 0%, rgba(250,181,94,1) 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
  cursor: pointer;
}




  /* ====== section colab ==========*/
  .colaboration{
    width: 100%;
    height: 100%;
    margin-top: 15rem;
    /* background: #020207; */
    position: relative;
    padding: 15rem 8%;
  }
  .colaboration h3{
    margin-bottom: 0;
  }
  .colaboration .container{
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .box-colab-info{
    width: 100%;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
.box-colb-img{
    width: 80%;
    height: 50rem;
    display: flex;
    gap: 2rem;
    overflow: hidden;
  }
  .box-colb-img .colb-img{
  position: relative;
  flex: 0 0 35rem;
  height: 100%;
  cursor: pointer;
}
.colb-img::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #0202078f;
  z-index: 1;
  clip-path: circle(30% at 93% 0);
  transition: .3s linear;
}
.colb-img img{
  box-shadow: .1rem .1rem .7rem #04040cf6;
cursor: pointer;
}
.colb-img:hover::before{
  
  display: block;
  clip-path: circle(100%);
  
}
.colb-img:hover .col-info{
  display: initial;
 }
.colb-img .col-info{
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%,50%);
  z-index: 10;
  display: none;
}
.colb-img .col-info h4{
  font-size: 2.3rem;
  font-weight: 600;
}
.colb-img .col-info .btn{
  font-size: 1.3rem;
  padding: 1.5rem 2rem;
}
.arrow{
  position: absolute;
  top: 56%;
  color: rgba(255, 255, 255, 0.63);
  font-size: 6.5rem;
  cursor: pointer;
}
 .arrow-right{
  right: 3%;
}

.arrow-left{
  left: 3%;
}


/* ================ Section cantacts ================ */

.contact{
 background:linear-gradient(0deg, rgba(31, 29, 28, 0.918) 0%, rgba(15, 15, 14, 0.705) 100%), url("../images/pexels-brett-sayles-3990842.jpg") no-repeat center center  ;
 background-size: cover;
 width: 100%;
}


.box-contact{
  flex: 1 1 40rem;
  display: flex;
  flex-direction: column;

  gap: 2rem;
  padding: 2rem 2%;
}
.box-contact h3{
  margin-bottom: 2rem;
}
.box-contact-info h5{
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
}
.box-contact-info p,a{
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
  color: #bb4d16;
}
.box-contact-info{
  text-align: center;
  gap: 5rem;
  padding:2rem 12%;
}
.box-form{
  flex: 1 1 30rem;
  background: #0202077e;
  backdrop-filter: blur(1rem);
  box-shadow: var(--box-shadow);
  gap: 1.5rem;
  height: 50rem;
  align-items: center;
  position: relative;
}

.box-form .formulaire {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.for-bg{
  height:5rem;
  width: 100%;
  border: none;
  padding: 2rem;
  background: #0202077e;
} 
.box-form .btn{
  position: absolute;
  bottom: 4%;
  right: 4%;
  padding: 1rem 6%;
  background: none;
}

.for-bg:hover 
.focus{
  color: #bb4d16;
  border: none;
}
 .for-textarea{
  height: 10rem;
 }


 .footer{
   padding: 5rem ;
   background: #020207;
 }

 .footer .about{
   border: none;
 }
.box-footer-liens{
  flex: 1 1 50rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}
.box-footer h4{
  text-transform: uppercase;
  color: #fff;
}
.box-footer-liens p{
  margin: 0;
}
.Plan ul{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.Plan ul li a{
  text-transform: capitalize;
  font-size: 1.5rem;
}
.box-footer{
  flex: 1 1 10rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  /* border-left:  1px solid #b9b9be36; */
}



.box-footer-reseaux{
  flex: 1 1 10rem;
  display: flex;
  flex-direction: column;align-items: center;
  gap: 2rem;
}
.box-footer-reseaux .icon{
  font-size: 4rem;
  color: #fff;
  cursor: pointer;
}




/* ================ Media Query ================ */

@media (max-width:450px){

  html{
      font-size: 40%;
  }
  section{
    padding: 2rem 2rem;
  }
  h1{
    font-size: 3.5rem;
  }
  h4{
    font-size: 2rem;
    text-transform: uppercase;
  }
  p{
    font-size: 1.3rem;
    
  }
  .btn{
    padding: 1.6rem 4rem;
  }
  .logo{
    width: 13rem;
  }
  .heading{
    transition: .3s ease-out;
  }
  .menu-open{
    display: initial;
    cursor: pointer;
  }



    /* ====== section colab ==========*/


 .heading{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
 }
  .nav{
    width: 70%;
    position: absolute;
    flex-direction: column;
    z-index: 10000000000000;
    top: 0;
    right: 0;
    display: none;
    
  }
  .visible{
    display: block;
  }
  .close {
    display: inline-block;
    position: absolute;
    color: #8a776e8a;
    font-size: 4.5rem;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
  }
  .box-nav{
    gap: 1.5rem;
  }

  .nav ul{
    position: relative;
    padding: 15rem 9%;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: #fff;
  }
  .nav ul li{
    border-bottom: 1px solid #8a776e28;
    width: 100%;
    padding-bottom: 3rem;
  }
  .nav ul li a{
    color:#8a776ea4;
    font-size: 1.5rem;
  }
  .nav ul li .active-a::before{
    content: none;
  }
  .home{
    height: 70vh;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 65% 88%, 50% 93%, 35% 88%, 0 85%);
  }

   
    .home .box .content .content-box p{
      font-size: 1.5rem;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.767);
    }
   
    .home .arrow{
      font-size: 6rem;
    }
    .home .arrow-left{
      left: -2%;
    }
    .home .arrow-right{
      right: -2%;
    }
    .about .container{
      justify-content: space-around;
    }
    .about .container .About-info {
      /* flex: 1 1 30rem; */
      text-align: center;
      padding: 0;
    }
    .about .container .About-img {
      flex: 0 1 27rem;
      
    }
    .about .container .About-img .box{
      padding: 0;
    }
    .about .container .About-img .box-img-1{
      height: 35rem;
    }
    .about .container .About-img .box-img-2{
      height: 28rem;
    }
    .Mezzo-title{
      align-items: center;
    }
    .Studio .container .box{
      display: flex;
      flex-wrap: wrap;
    }
    .Studio .container .box .statut-image{
      flex: 1 1 27rem;
      height:45rem;
    }
    .statut-image-3 p{
      width: 50%;
    }
    .statut-image-3 .studio-title{
      padding-left: 5%;
    }


    .salle-repetition .info-salle{
      text-align: center;
      padding: 0 10%;
    }
    .salle-img {
      display: flex;
      flex-direction: column;
    }
    .salle-img .img-1{
      flex-direction: row;
    }

    .service-info{
      flex: 1 1 26rem;
      padding:0 1%;
     }
    .box-service-title h3{
      text-align: center;
    }
    .position{
      display: none;
    }
  /* ====== section colab ==========*/

  .box-colb-img{
    width: 100%;
  }
    .box-colb-img .colb-img{
      flex: 1 0 50%;
    }
}
